{% extends 'layouts/auth.html.twig' %}

{% block title %}Prism - Connexion{% endblock %}

{% block main %}
    <button class="theme-toggle" id="theme-toggle">
        <img src="{{ asset('assets/icons/sun.svg') }}" alt="Sun Icon" class="sun-icon">
        <img src="{{ asset('assets/icons/moon.svg') }}" alt="Moon Icon" class="moon-icon">
    </button>
    <div class="auth-card">
        <div class="auth-logo">
            <img src={{ asset('assets/icons/logo.png') }} alt="Prism Logo">
        </div>
        <div class="auth-header">
            <div class="auth-title">
                <img src={{ asset('assets/icons/cadenas-verrouille.png') }} alt="Cadenas Icon">
                <h1>Se connecter</h1>
            </div>
            <p>L'accès à Prism est réservé. Merci de vous identifier pour accéder au service.</p>
        </div>
        <form method="post" action="{{ path('app_login') }}">
            <div class="form-group">
                <label for="username">Email</label>
                <input type="email" name="_username" id="username" value="{{ last_username ?? '' }}" placeholder="exemple@gmail.com" required>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" name="_password" id="password" placeholder="Mot de passe" required>
                {% if error %}
                    <p class="form-message">
                        L'émail ou le mot de passe est incorrect.
                    </p>
                {% endif %}
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="flex items-center justify-between">
                <button class="w-30" type="submit">Connexion</button>
                <a class="w-55" href="{{ path('app_register') }}">Vous n'avez pas de compte ?</a>
            </div>
        </form>
    </div>
{% endblock %}