{% extends 'layouts/auth.html.twig' %}

{% block title %}Prism - Inscription{% endblock %}

{% block main %}
    <button class="theme-toggle" id="theme-toggle">
        <img src="{{ asset('assets/icons/sun.svg') }}" alt="Sun Icon" class="sun-icon">
        <img src="{{ asset('assets/icons/moon.svg') }}" alt="Moon Icon" class="moon-icon">
    </button>
    <div class="auth-card">
        <div class="auth-logo">
            <img src={{ asset('assets/icons/logo.png') }} alt="Prism Logo" class="logo">
        </div>
        <div class="auth-header">
            <div class="auth-title">
                <img src={{ asset('assets/icons/cadenas-verrouille.png') }} alt="Cadenas Icon">
                <h1>Inscription</h1>
            </div>
            <p>Créez un compte pour accéder à toutes les fonctionnalités de Prism.</p>
        </div>
        <form method="post" action="{{ path('app_register') }}">
            <div class="flex items-center justify-between">
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" name="nom" id="nom" placeholder="Votre nom" required>
                </div>
                <div class="form-group">
                    <label for="prenom">Prénom</label>
                    <input type="text" name="prenom" id="prenom" placeholder="Votre prénom" required>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="exemple@gmail.com" required>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" placeholder="Mot de passe" required>
                {% if error %}
                    <p class="form-message">{{ error }}</p>
                {% endif %}
            </div>
            <div class="flex items-center justify-between">
                <button class="w-30" type="submit">S'inscrire</button>
                <a class="w-55" href="{{ path('app_login') }}">Vous avez déjà un compte ?</a>
            </div>
        </form>
    </div>
{% endblock %}