{% extends 'base.html.twig' %}

{% block title %}Prism - Tableau de bord{% endblock %}

{% block body %}
    <h2>Liste des entreprises</h2>

    {% if entreprises|length > 0 %}
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Raison Sociale</th>
                    <th>Adresse</th>
                    <th>Code Postal</th>
                    <th>Ville</th>
                    <th>Tuteur</th>
                    <th>Profil</th>
                    <th>Étudiant</th>
                    <th>Jury</th>
                </tr>
            </thead>
            <tbody>
                {% for entreprise in entreprises %}
                    <tr>
                        <td>{{ entreprise.id }}</td>
                        <td>{{ entreprise.rs }}</td>
                        <td>{{ entreprise.adresse }}</td>
                        <td>{{ entreprise.cp }}</td>
                        <td>{{ entreprise.ville }}</td>
                        <td>{{ entreprise.tuteur }}</td>
                        <td>{{ entreprise.profil }}</td>
                        <td>{{ entreprise.etudiant }}</td>
                        <td>{{ entreprise.jury }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune entreprise trouvée</p>
    {% endif %}
{% endblock %}
