{% extends 'base.html.twig' %}

{% block title %}Prism - Tableau de bord{% endblock %}

{% block body %}
    <h2>Liste des entreprises</h2>

    {% if is_granted('ROLE_ADMIN') %}
        <p>Seul un admin peut voir ce texte</p>
    {% endif %}

    {# Vérifie si le tableau des entreprises contient au moins une entrée avant d'afficher le tableau #}
    {% if entreprises|length > 0 %} 
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Raison Sociale</th>
                    <th>Adresse</th>
                    <th>Code Postal</th>
                    <th>Ville</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for entreprise in entreprises %}
                    <tr>
                        <td>{{ entreprise.id }}</td>
                        <td>{{ entreprise.rs }}</td>
                        <td>{{ entreprise.adresse }}</td>
                        <td>{{ entreprise.cp }}</td>
                        <td>{{ entreprise.ville }}</td>
                        <td>{{ entreprise.tel }}</td>
                        <td>{{ entreprise.mail }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune entreprise trouvée</p>
    {% endif %}
{% endblock %}
